<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BuscaCep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BuscaCep</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label position="stacked" >Insira seu cep</ion-label>
    <ion-input type="number" [(ngModel)]="cep"></ion-input>
  </ion-item>

  <ion-button (click) = "consultar()" >
    Consultar
  </ion-button>


  <ion-card>
    <ion-card-header>
      <ion-card-title>{{cepcon}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{consulta}}
    </ion-card-content>
  </ion-card>
  
  

</ion-content>
